body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0749c3;
}

.container {
    background-color: #d4c00a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
}

h1 {
    text-align: center;
}

.menu, .cart {
    flex: 1;
    padding: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

li:last-child {
    border: none;
}

button.add-btn, button.checkout-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

button.add-btn {
    background-color: #28A745;
}

p {
    text-align: right;
}
